@using System.Web.Optimization
@model IEnumerable<Wes.CopaMundoFilmes.Application.ViewModel.FilmeViewModel>
@Styles.Render("~/Content/filme")
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@{
    ViewBag.Title = "Campeonato de Filmes";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-lg-center text-md-center text-sm-center">
        <h6 class="titulo-campeonato">CAMPEONATO DE FILMES</h6>
        <h2 class="titulo-fase-selecao">
            <b>Fase de Seleção</b>
            <br />
            <label class="detalhe-titulo"></label>
        </h2>
        <div class="titulo-descricao">
            Selecione 16 filmes que você deseja que entrem na competição e depois pressione o
            <p>botão Gerar Meu Campeonato para prosseguir.</p>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-2 texto-selecao">
            <b>Selecionados</b>
            <p><b><span id="spanQuantidadeFilmes">0</span> de @Model.Count() filmes</b></p>
        </div>
        <div class="col-lg-10 text-right">
            <input id="btnGerarCampeonato" type="submit" class="btn btn-dark" value="GERAR MEU CAMPEONATO" disabled />
        </div>
    </div>
    <div id="divFilmesSelecionados" />
}
    <div class="container">
        <div class="row align-content-center">
            @foreach (var filme in Model)
            {
            <div class="filme-titulo">
                <div class="row">
                    <div class="checkbox col-sm-2 checkbox-posicao">
                        <label class="checkbox-label" style="font-size: 1.5em">
                            <input class="checkbox-input" type="checkbox" />
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            <input class="filme-@filme.Id" value="@filme.Id" type="hidden" />
                            <input class="filme-@filme.Id" value="@filme.PrimaryTitle" type="hidden" />
                            <input class="filme-@filme.Id" value="@filme.Year" type="hidden" />
                            <input class="filme-@filme.Id" value="@filme.AverageRating" type="hidden" />
                        </label>
                    </div>
                    <div class="col-sm-10 filme-titulo-posicao">
                        <span><b>@filme.PrimaryTitle</b></span>
                        <br />
                        <span>@filme.Year</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/scriptsCopaMundo")
}
